* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;

  &::selection {
    color: white;
    background-color: #96f2d7;
  }
}

html {
  width: 98vw;
  overflow-x: hidden;
  font-size: 62.5%; // 10/16=62.5% 1rem=10px1
  @include respond(phone) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 56.5%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  padding: 1vh 1vw;
  width: 98vw;
  white-space: nowrap;
  background-color: #f1f3f5;
}

