$color-primary: #faa2c1;
$color-primary-light: #ffdeeb;
$color-primary-dark: #f06595;

$color-white: #fff;

$color-grey-0: #f8f9fa;
$color-grey-1: #ced4da;
$color-grey-2: #dee2e6;
$color-grey-3: #495057;
$color-grey-4: #343a40;

$default-font: 16px;