//关键帧
@keyframes LeftToMid {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    transform: translateX(10%);
    opacity: 1;
  }
  100%{
    transform: none;
    opacity: 1;
  }
}

@keyframes RightToMid {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100%{
    transform: none;
    opacity: 1;
  }
}